{{ define "main" }}

<div class="flex flex-1 h-screen relative w-full min-w-0">

  <section
    class="w-full h-full md:min-w-[400px] md:w-1/4 bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 flex flex-col py-3 overflow-y-auto scroll-area flex-shrink-0">
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range .Data.Pages -}}
      <a class="article block px-3 py-4 hover:bg-slate-200 dark:hover:bg-slate-700" href="{{ .RelPermalink }}">

        {{ $title := .Params.title }}
        {{ $datasets := .Params.datasets }}

      <searchthis>
        <h3 class="text-lg font-semibold mb-0.5">{{ $title }}</h3>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          <b>Datasets:</b>{{ range .Params.datasets }}<span style="text-transform: uppercase;"> {{ . }} </span>{{end}}</b>
        </div>
      </searchthis>


      </a>
      {{ end -}}
    </div>
  </section>

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto dark:prose-invert prose lg:prose-lg h-fit prose-img:mx-auto">

      {{ $title := .Params.title }}
      {{ $description := .Params.description }}
      {{ $footnote := .Params.footnote }}

      <h1 class="!mb-2">{{ $title }}</h1>
      {{ $description}}

      <div class="table" style="overflow: auto; display: block">  

      {{ .Content }}

      </div>
      
      <i>*{{ $footnote }}</i>

    </article>
  </div>

</div>

{{ end }}