<svg class="h-4 w-4" viewBox="0 0 256 256" 
  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  style="enable-background:new 0 0 256 256;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{fill:#323233;}
	.st2{fill:#4CA3E5;}
</style>
<g id="Layer_3">
</g>
<g id="Layer_2_00000036963442548161772480000005762894416277255553_" class="st0">
	
		<image style="display:inline;overflow:visible;enable-background:new    ;" width="354" height="354" xlink:href="93280510B30B239C.png"  transform="matrix(1 0 0 1 -38.5039 -38.4515)">
	</image>
</g>
<circle class="st1" cx="200.6" cy="74.7" r="28.5"/>
<circle class="st1" cx="52.3" cy="135.4" r="28.5"/>
<circle class="st1" cx="77.7" cy="197" r="28.5"/>
<circle class="st1" cx="78" cy="74.4" r="28.5"/>
<circle class="st1" cx="138.4" cy="222.7" r="28.5"/>
<circle class="st1" cx="139.6" cy="49" r="28.5"/>
<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -80.9235 199.2133)" class="st1" cx="200" cy="197.3" rx="28.5" ry="28.5"/>
<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.2177 199.708)" class="st1" cx="226" cy="136.3" rx="28.5" ry="28.5"/>
<g>
	<path class="st2" d="M106.6,74.4c-0.1,15.5-12.5,28-27.9,28.3c3.6,5.8,10.1,9.8,17.4,9.8c11.3,0,20.5-9.2,20.5-20.5
		C116.7,84.5,112.6,78,106.6,74.4z"/>
	<circle class="st2" cx="139.6" cy="74.1" r="20.5"/>
	<circle class="st2" cx="77.2" cy="135.4" r="20.5"/>
	<path class="st2" d="M200.6,103.3c-15.5-0.1-28-12.5-28.3-27.9c-5.9,3.6-9.8,10.1-9.8,17.4c0,11.3,9.2,20.5,20.5,20.5
		C190.4,113.4,197,109.3,200.6,103.3z"/>
	<circle class="st2" cx="200.9" cy="136.3" r="20.5"/>
	<path class="st2" d="M171.4,197.3c0.1-15.5,12.5-28,27.9-28.3c-3.6-5.9-10.1-9.8-17.4-9.8c-11.3,0-20.5,9.2-20.5,20.5
		C161.4,187.2,165.4,193.7,171.4,197.3z"/>
	<circle class="st2" cx="138.4" cy="197.6" r="20.5"/>
	<path class="st2" d="M77.7,168.4c15.5,0.1,28,12.5,28.3,27.9c5.8-3.6,9.8-10.1,9.8-17.4c0-11.3-9.2-20.5-20.5-20.5
		C87.8,158.3,81.3,162.4,77.7,168.4z"/>
</g>
</svg>
