/* Changes in document:

- Added overflow:hidden to all .katex elements
- Added -webkit-overflow-scrolling: touch; to all overflow elements
- Changed position:absolute to position:relative

This was to stop the website from overscrolling whenever a katex element was displayed in an apple browser. */


@font-face{
    font-family:KaTeX_AMS;font-style:normal;font-weight:400;src:url(fonts/KaTeX_AMS-Regular.woff2) format("woff2"),url(fonts/KaTeX_AMS-Regular.woff) format("woff"),url(fonts/KaTeX_AMS-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Caligraphic;font-style:normal;font-weight:700;src:url(fonts/KaTeX_Caligraphic-Bold.woff2) format("woff2"),url(fonts/KaTeX_Caligraphic-Bold.woff) format("woff"),url(fonts/KaTeX_Caligraphic-Bold.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Caligraphic;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Caligraphic-Regular.woff2) format("woff2"),url(fonts/KaTeX_Caligraphic-Regular.woff) format("woff"),url(fonts/KaTeX_Caligraphic-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Fraktur;font-style:normal;font-weight:700;src:url(fonts/KaTeX_Fraktur-Bold.woff2) format("woff2"),url(fonts/KaTeX_Fraktur-Bold.woff) format("woff"),url(fonts/KaTeX_Fraktur-Bold.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Fraktur;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Fraktur-Regular.woff2) format("woff2"),url(fonts/KaTeX_Fraktur-Regular.woff) format("woff"),url(fonts/KaTeX_Fraktur-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Main;font-style:normal;font-weight:700;src:url(fonts/KaTeX_Main-Bold.woff2) format("woff2"),url(fonts/KaTeX_Main-Bold.woff) format("woff"),url(fonts/KaTeX_Main-Bold.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Main;font-style:italic;font-weight:700;src:url(fonts/KaTeX_Main-BoldItalic.woff2) format("woff2"),url(fonts/KaTeX_Main-BoldItalic.woff) format("woff"),url(fonts/KaTeX_Main-BoldItalic.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Main;font-style:italic;font-weight:400;src:url(fonts/KaTeX_Main-Italic.woff2) format("woff2"),url(fonts/KaTeX_Main-Italic.woff) format("woff"),url(fonts/KaTeX_Main-Italic.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Main;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Main-Regular.woff2) format("woff2"),url(fonts/KaTeX_Main-Regular.woff) format("woff"),url(fonts/KaTeX_Main-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Math;font-style:italic;font-weight:700;src:url(fonts/KaTeX_Math-BoldItalic.woff2) format("woff2"),url(fonts/KaTeX_Math-BoldItalic.woff) format("woff"),url(fonts/KaTeX_Math-BoldItalic.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Math;font-style:italic;font-weight:400;src:url(fonts/KaTeX_Math-Italic.woff2) format("woff2"),url(fonts/KaTeX_Math-Italic.woff) format("woff"),url(fonts/KaTeX_Math-Italic.ttf) format("truetype")
    }
    
    @font-face{
    font-family:"KaTeX_SansSerif";font-style:normal;font-weight:700;src:url(fonts/KaTeX_SansSerif-Bold.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Bold.woff) format("woff"),url(fonts/KaTeX_SansSerif-Bold.ttf) format("truetype")
    }
    
    @font-face{
    font-family:"KaTeX_SansSerif";font-style:italic;font-weight:400;src:url(fonts/KaTeX_SansSerif-Italic.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Italic.woff) format("woff"),url(fonts/KaTeX_SansSerif-Italic.ttf) format("truetype")
    }
    
    @font-face{
    font-family:"KaTeX_SansSerif";font-style:normal;font-weight:400;src:url(fonts/KaTeX_SansSerif-Regular.woff2) format("woff2"),url(fonts/KaTeX_SansSerif-Regular.woff) format("woff"),url(fonts/KaTeX_SansSerif-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Script;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Script-Regular.woff2) format("woff2"),url(fonts/KaTeX_Script-Regular.woff) format("woff"),url(fonts/KaTeX_Script-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Size1;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Size1-Regular.woff2) format("woff2"),url(fonts/KaTeX_Size1-Regular.woff) format("woff"),url(fonts/KaTeX_Size1-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Size2;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Size2-Regular.woff2) format("woff2"),url(fonts/KaTeX_Size2-Regular.woff) format("woff"),url(fonts/KaTeX_Size2-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Size3;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Size3-Regular.woff2) format("woff2"),url(fonts/KaTeX_Size3-Regular.woff) format("woff"),url(fonts/KaTeX_Size3-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Size4;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Size4-Regular.woff2) format("woff2"),url(fonts/KaTeX_Size4-Regular.woff) format("woff"),url(fonts/KaTeX_Size4-Regular.ttf) format("truetype")
    }
    
    @font-face{
    font-family:KaTeX_Typewriter;font-style:normal;font-weight:400;src:url(fonts/KaTeX_Typewriter-Regular.woff2) format("woff2"),url(fonts/KaTeX_Typewriter-Regular.woff) format("woff"),url(fonts/KaTeX_Typewriter-Regular.ttf) format("truetype")
    }
    
    .katex{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font:normal 1.21em KaTeX_Main,Times New Roman,serif;line-height:1.2;text-indent:0;text-rendering:auto
    }
    
    .katex *{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    -ms-high-contrast-adjust:none!important
    }
    
    .katex .katex-mathml{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border:0;clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;-webkit-overflow-scrolling:touch;padding:0;position:relative;width:1px
    }
    
    .katex .katex-html>.newline{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block
    }
    
    .katex .base{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative;white-space:nowrap;width:min-content
    }
    
    .katex .base,.katex .strut{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .textbf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-weight:700
    }
    
    .katex .textit{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-style:italic
    }
    
    .katex .textrm{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Main
    }
    
    .katex .textsf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_SansSerif
    }
    
    .katex .texttt{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Typewriter
    }
    
    .katex .mathit{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Math;font-style:italic
    }
    
    .katex .mathrm{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-style:normal
    }
    
    .katex .mathbf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Main;font-weight:700
    }
    
    .katex .boldsymbol{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Math;font-style:italic;font-weight:700
    }
    
    .katex .amsrm,.katex .mathbb,.katex .textbb{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_AMS
    }
    
    .katex .mathcal{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Caligraphic
    }
    
    .katex .mathfrak,.katex .textfrak{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Fraktur
    }
    
    .katex .mathtt{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Typewriter
    }
    
    .katex .mathscr,.katex .textscr{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Script
    }
    
    .katex .mathsf,.katex .textsf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_SansSerif
    }
    
    .katex .mathboldsf,.katex .textboldsf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_SansSerif;font-weight:700
    }
    
    .katex .mathitsf,.katex .textitsf{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_SansSerif;font-style:italic
    }
    
    .katex .mainit{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Main;font-style:italic
    }
    
    .katex .mainrm{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Main;font-style:normal
    }
    
    .katex .vlist-t{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-table;table-layout:fixed
    }
    
    .katex .vlist-r{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:table-row
    }
    
    .katex .vlist{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:table-cell;position:relative;vertical-align:bottom
    }
    
    .katex .vlist>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block;height:0;position:relative
    }
    
    .katex .vlist>span>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .vlist>span>.pstrut{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    overflow:hidden;-webkit-overflow-scrolling:touch;width:0
    }
    
    .katex .vlist-t2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    margin-right:-2px
    }
    
    .katex .vlist-s{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:table-cell;font-size:1px;min-width:2px;vertical-align:bottom;width:2px
    }
    
    .katex .msupsub{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:left
    }
    
    .katex .mfrac>span>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:center
    }
    
    .katex .mfrac .frac-line{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-bottom-style:solid;display:inline-block;width:100%
    }
    
    .katex .hdashline,.katex .hline,.katex .mfrac .frac-line,.katex .overline .overline-line,.katex .rule,.katex .underline .underline-line{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    min-height:1px
    }
    
    .katex .mspace{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .clap,.katex .llap,.katex .rlap{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative;width:0
    }
    
    .katex .clap>.inner,.katex .llap>.inner,.katex .rlap>.inner{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative
    }
    
    .katex .clap>.fix,.katex .llap>.fix,.katex .rlap>.fix{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .llap>.inner{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    right:0
    }
    
    .katex .clap>.inner,.katex .rlap>.inner{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    left:0
    }
    
    .katex .clap>.inner>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    margin-left:-50%;margin-right:50%
    }
    
    .katex .rule{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border:0 solid;display:inline-block;position:relative
    }
    
    .katex .hline,.katex .overline .overline-line,.katex .underline .underline-line{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-bottom-style:solid;display:inline-block;width:100%
    }
    
    .katex .hdashline{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-bottom-style:dashed;display:inline-block;width:100%
    }
    
    .katex .sqrt>.root{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    margin-left:.27777778em;margin-right:-.55555556em
    }
    
    .katex .fontsize-ensurer,.katex .sizing{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .fontsize-ensurer.reset-size1.size1,.katex .sizing.reset-size1.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size1.size2,.katex .sizing.reset-size1.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.2em
    }
    
    .katex .fontsize-ensurer.reset-size1.size3,.katex .sizing.reset-size1.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.4em
    }
    
    .katex .fontsize-ensurer.reset-size1.size4,.katex .sizing.reset-size1.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.6em
    }
    
    .katex .fontsize-ensurer.reset-size1.size5,.katex .sizing.reset-size1.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.8em
    }
    
    .katex .fontsize-ensurer.reset-size1.size6,.katex .sizing.reset-size1.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2em
    }
    
    .katex .fontsize-ensurer.reset-size1.size7,.katex .sizing.reset-size1.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.4em
    }
    
    .katex .fontsize-ensurer.reset-size1.size8,.katex .sizing.reset-size1.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.88em
    }
    
    .katex .fontsize-ensurer.reset-size1.size9,.katex .sizing.reset-size1.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:3.456em
    }
    
    .katex .fontsize-ensurer.reset-size1.size10,.katex .sizing.reset-size1.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:4.148em
    }
    
    .katex .fontsize-ensurer.reset-size1.size11,.katex .sizing.reset-size1.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:4.976em
    }
    
    .katex .fontsize-ensurer.reset-size2.size1,.katex .sizing.reset-size2.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83333333em
    }
    
    .katex .fontsize-ensurer.reset-size2.size2,.katex .sizing.reset-size2.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size2.size3,.katex .sizing.reset-size2.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.16666667em
    }
    
    .katex .fontsize-ensurer.reset-size2.size4,.katex .sizing.reset-size2.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.33333333em
    }
    
    .katex .fontsize-ensurer.reset-size2.size5,.katex .sizing.reset-size2.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.5em
    }
    
    .katex .fontsize-ensurer.reset-size2.size6,.katex .sizing.reset-size2.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.66666667em
    }
    
    .katex .fontsize-ensurer.reset-size2.size7,.katex .sizing.reset-size2.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2em
    }
    
    .katex .fontsize-ensurer.reset-size2.size8,.katex .sizing.reset-size2.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.4em
    }
    
    .katex .fontsize-ensurer.reset-size2.size9,.katex .sizing.reset-size2.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.88em
    }
    
    .katex .fontsize-ensurer.reset-size2.size10,.katex .sizing.reset-size2.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:3.45666667em
    }
    
    .katex .fontsize-ensurer.reset-size2.size11,.katex .sizing.reset-size2.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:4.14666667em
    }
    
    .katex .fontsize-ensurer.reset-size3.size1,.katex .sizing.reset-size3.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.71428571em
    }
    
    .katex .fontsize-ensurer.reset-size3.size2,.katex .sizing.reset-size3.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.85714286em
    }
    
    .katex .fontsize-ensurer.reset-size3.size3,.katex .sizing.reset-size3.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size3.size4,.katex .sizing.reset-size3.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.14285714em
    }
    
    .katex .fontsize-ensurer.reset-size3.size5,.katex .sizing.reset-size3.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.28571429em
    }
    
    .katex .fontsize-ensurer.reset-size3.size6,.katex .sizing.reset-size3.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.42857143em
    }
    
    .katex .fontsize-ensurer.reset-size3.size7,.katex .sizing.reset-size3.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.71428571em
    }
    
    .katex .fontsize-ensurer.reset-size3.size8,.katex .sizing.reset-size3.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.05714286em
    }
    
    .katex .fontsize-ensurer.reset-size3.size9,.katex .sizing.reset-size3.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.46857143em
    }
    
    .katex .fontsize-ensurer.reset-size3.size10,.katex .sizing.reset-size3.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.96285714em
    }
    
    .katex .fontsize-ensurer.reset-size3.size11,.katex .sizing.reset-size3.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:3.55428571em
    }
    
    .katex .fontsize-ensurer.reset-size4.size1,.katex .sizing.reset-size4.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.625em
    }
    
    .katex .fontsize-ensurer.reset-size4.size2,.katex .sizing.reset-size4.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.75em
    }
    
    .katex .fontsize-ensurer.reset-size4.size3,.katex .sizing.reset-size4.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.875em
    }
    
    .katex .fontsize-ensurer.reset-size4.size4,.katex .sizing.reset-size4.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size4.size5,.katex .sizing.reset-size4.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.125em
    }
    
    .katex .fontsize-ensurer.reset-size4.size6,.katex .sizing.reset-size4.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.25em
    }
    
    .katex .fontsize-ensurer.reset-size4.size7,.katex .sizing.reset-size4.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.5em
    }
    
    .katex .fontsize-ensurer.reset-size4.size8,.katex .sizing.reset-size4.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.8em
    }
    
    .katex .fontsize-ensurer.reset-size4.size9,.katex .sizing.reset-size4.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.16em
    }
    
    .katex .fontsize-ensurer.reset-size4.size10,.katex .sizing.reset-size4.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.5925em
    }
    
    .katex .fontsize-ensurer.reset-size4.size11,.katex .sizing.reset-size4.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:3.11em
    }
    
    .katex .fontsize-ensurer.reset-size5.size1,.katex .sizing.reset-size5.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.55555556em
    }
    
    .katex .fontsize-ensurer.reset-size5.size2,.katex .sizing.reset-size5.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.66666667em
    }
    
    .katex .fontsize-ensurer.reset-size5.size3,.katex .sizing.reset-size5.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.77777778em
    }
    
    .katex .fontsize-ensurer.reset-size5.size4,.katex .sizing.reset-size5.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.88888889em
    }
    
    .katex .fontsize-ensurer.reset-size5.size5,.katex .sizing.reset-size5.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size5.size6,.katex .sizing.reset-size5.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.11111111em
    }
    
    .katex .fontsize-ensurer.reset-size5.size7,.katex .sizing.reset-size5.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.33333333em
    }
    
    .katex .fontsize-ensurer.reset-size5.size8,.katex .sizing.reset-size5.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.6em
    }
    
    .katex .fontsize-ensurer.reset-size5.size9,.katex .sizing.reset-size5.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.92em
    }
    
    .katex .fontsize-ensurer.reset-size5.size10,.katex .sizing.reset-size5.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.30444444em
    }
    
    .katex .fontsize-ensurer.reset-size5.size11,.katex .sizing.reset-size5.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.76444444em
    }
    
    .katex .fontsize-ensurer.reset-size6.size1,.katex .sizing.reset-size6.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.5em
    }
    
    .katex .fontsize-ensurer.reset-size6.size2,.katex .sizing.reset-size6.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.6em
    }
    
    .katex .fontsize-ensurer.reset-size6.size3,.katex .sizing.reset-size6.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.7em
    }
    
    .katex .fontsize-ensurer.reset-size6.size4,.katex .sizing.reset-size6.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.8em
    }
    
    .katex .fontsize-ensurer.reset-size6.size5,.katex .sizing.reset-size6.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.9em
    }
    
    .katex .fontsize-ensurer.reset-size6.size6,.katex .sizing.reset-size6.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size6.size7,.katex .sizing.reset-size6.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.2em
    }
    
    .katex .fontsize-ensurer.reset-size6.size8,.katex .sizing.reset-size6.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.44em
    }
    
    .katex .fontsize-ensurer.reset-size6.size9,.katex .sizing.reset-size6.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.728em
    }
    
    .katex .fontsize-ensurer.reset-size6.size10,.katex .sizing.reset-size6.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.074em
    }
    
    .katex .fontsize-ensurer.reset-size6.size11,.katex .sizing.reset-size6.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.488em
    }
    
    .katex .fontsize-ensurer.reset-size7.size1,.katex .sizing.reset-size7.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.41666667em
    }
    
    .katex .fontsize-ensurer.reset-size7.size2,.katex .sizing.reset-size7.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.5em
    }
    
    .katex .fontsize-ensurer.reset-size7.size3,.katex .sizing.reset-size7.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.58333333em
    }
    
    .katex .fontsize-ensurer.reset-size7.size4,.katex .sizing.reset-size7.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.66666667em
    }
    
    .katex .fontsize-ensurer.reset-size7.size5,.katex .sizing.reset-size7.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.75em
    }
    
    .katex .fontsize-ensurer.reset-size7.size6,.katex .sizing.reset-size7.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83333333em
    }
    
    .katex .fontsize-ensurer.reset-size7.size7,.katex .sizing.reset-size7.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size7.size8,.katex .sizing.reset-size7.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.2em
    }
    
    .katex .fontsize-ensurer.reset-size7.size9,.katex .sizing.reset-size7.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.44em
    }
    
    .katex .fontsize-ensurer.reset-size7.size10,.katex .sizing.reset-size7.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.72833333em
    }
    
    .katex .fontsize-ensurer.reset-size7.size11,.katex .sizing.reset-size7.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:2.07333333em
    }
    
    .katex .fontsize-ensurer.reset-size8.size1,.katex .sizing.reset-size8.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.34722222em
    }
    
    .katex .fontsize-ensurer.reset-size8.size2,.katex .sizing.reset-size8.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.41666667em
    }
    
    .katex .fontsize-ensurer.reset-size8.size3,.katex .sizing.reset-size8.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.48611111em
    }
    
    .katex .fontsize-ensurer.reset-size8.size4,.katex .sizing.reset-size8.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.55555556em
    }
    
    .katex .fontsize-ensurer.reset-size8.size5,.katex .sizing.reset-size8.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.625em
    }
    
    .katex .fontsize-ensurer.reset-size8.size6,.katex .sizing.reset-size8.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.69444444em
    }
    
    .katex .fontsize-ensurer.reset-size8.size7,.katex .sizing.reset-size8.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83333333em
    }
    
    .katex .fontsize-ensurer.reset-size8.size8,.katex .sizing.reset-size8.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size8.size9,.katex .sizing.reset-size8.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.2em
    }
    
    .katex .fontsize-ensurer.reset-size8.size10,.katex .sizing.reset-size8.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.44027778em
    }
    
    .katex .fontsize-ensurer.reset-size8.size11,.katex .sizing.reset-size8.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.72777778em
    }
    
    .katex .fontsize-ensurer.reset-size9.size1,.katex .sizing.reset-size9.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.28935185em
    }
    
    .katex .fontsize-ensurer.reset-size9.size2,.katex .sizing.reset-size9.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.34722222em
    }
    
    .katex .fontsize-ensurer.reset-size9.size3,.katex .sizing.reset-size9.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.40509259em
    }
    
    .katex .fontsize-ensurer.reset-size9.size4,.katex .sizing.reset-size9.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.46296296em
    }
    
    .katex .fontsize-ensurer.reset-size9.size5,.katex .sizing.reset-size9.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.52083333em
    }
    
    .katex .fontsize-ensurer.reset-size9.size6,.katex .sizing.reset-size9.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.5787037em
    }
    
    .katex .fontsize-ensurer.reset-size9.size7,.katex .sizing.reset-size9.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.69444444em
    }
    
    .katex .fontsize-ensurer.reset-size9.size8,.katex .sizing.reset-size9.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83333333em
    }
    
    .katex .fontsize-ensurer.reset-size9.size9,.katex .sizing.reset-size9.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size9.size10,.katex .sizing.reset-size9.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.20023148em
    }
    
    .katex .fontsize-ensurer.reset-size9.size11,.katex .sizing.reset-size9.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.43981481em
    }
    
    .katex .fontsize-ensurer.reset-size10.size1,.katex .sizing.reset-size10.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.24108004em
    }
    
    .katex .fontsize-ensurer.reset-size10.size2,.katex .sizing.reset-size10.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.28929605em
    }
    
    .katex .fontsize-ensurer.reset-size10.size3,.katex .sizing.reset-size10.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.33751205em
    }
    
    .katex .fontsize-ensurer.reset-size10.size4,.katex .sizing.reset-size10.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.38572806em
    }
    
    .katex .fontsize-ensurer.reset-size10.size5,.katex .sizing.reset-size10.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.43394407em
    }
    
    .katex .fontsize-ensurer.reset-size10.size6,.katex .sizing.reset-size10.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.48216008em
    }
    
    .katex .fontsize-ensurer.reset-size10.size7,.katex .sizing.reset-size10.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.57859209em
    }
    
    .katex .fontsize-ensurer.reset-size10.size8,.katex .sizing.reset-size10.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.69431051em
    }
    
    .katex .fontsize-ensurer.reset-size10.size9,.katex .sizing.reset-size10.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83317261em
    }
    
    .katex .fontsize-ensurer.reset-size10.size10,.katex .sizing.reset-size10.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .fontsize-ensurer.reset-size10.size11,.katex .sizing.reset-size10.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1.19961427em
    }
    
    .katex .fontsize-ensurer.reset-size11.size1,.katex .sizing.reset-size11.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.20096463em
    }
    
    .katex .fontsize-ensurer.reset-size11.size2,.katex .sizing.reset-size11.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.24115756em
    }
    
    .katex .fontsize-ensurer.reset-size11.size3,.katex .sizing.reset-size11.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.28135048em
    }
    
    .katex .fontsize-ensurer.reset-size11.size4,.katex .sizing.reset-size11.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.32154341em
    }
    
    .katex .fontsize-ensurer.reset-size11.size5,.katex .sizing.reset-size11.size5{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.36173633em
    }
    
    .katex .fontsize-ensurer.reset-size11.size6,.katex .sizing.reset-size11.size6{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.40192926em
    }
    
    .katex .fontsize-ensurer.reset-size11.size7,.katex .sizing.reset-size11.size7{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.48231511em
    }
    
    .katex .fontsize-ensurer.reset-size11.size8,.katex .sizing.reset-size11.size8{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.57877814em
    }
    
    .katex .fontsize-ensurer.reset-size11.size9,.katex .sizing.reset-size11.size9{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.69453376em
    }
    
    .katex .fontsize-ensurer.reset-size11.size10,.katex .sizing.reset-size11.size10{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:.83360129em
    }
    
    .katex .fontsize-ensurer.reset-size11.size11,.katex .sizing.reset-size11.size11{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-size:1em
    }
    
    .katex .delimsizing.size1{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size1
    }
    
    .katex .delimsizing.size2{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size2
    }
    
    .katex .delimsizing.size3{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size3
    }
    
    .katex .delimsizing.size4{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size4
    }
    
    .katex .delimsizing.mult .delim-size1>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size1
    }
    
    .katex .delimsizing.mult .delim-size4>span{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size4
    }
    
    .katex .nulldelimiter{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block;width:.12em
    }
    
    .katex .delimcenter,.katex .op-symbol{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative
    }
    
    .katex .op-symbol.small-op{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size1
    }
    
    .katex .op-symbol.large-op{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    font-family:KaTeX_Size2
    }
    
    .katex .accent>.vlist-t,.katex .op-limits>.vlist-t{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:center
    }
    
    .katex .accent .accent-body{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative
    }
    
    .katex .accent .accent-body:not(.accent-full){
    overflow:hidden;-webkit-overflow-scrolling:touch;
    width:0
    }
    
    .katex .overlay{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block
    }
    
    .katex .mtable .vertical-separator{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-right:.05em solid;display:inline-block;margin:0 -.025em;min-width:1px
    }
    
    .katex .mtable .vs-dashed{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-right:.05em dashed
    }
    
    .katex .mtable .arraycolsep{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:inline-block
    }
    
    .katex .mtable .col-align-c>.vlist-t{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:center
    }
    
    .katex .mtable .col-align-l>.vlist-t{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:left
    }
    
    .katex .mtable .col-align-r>.vlist-t{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:right
    }
    
    .katex .svg-align{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:left
    }
    
    .katex svg{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block;fill:currentColor;fill-opacity:1;fill-rule:nonzero;height:inherit;position:relative;stroke:currentColor;stroke-dasharray:none;stroke-dashoffset:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-width:1;width:100%
    }
    
    .katex svg path{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    stroke:none
    }
    
    .katex .stretchy{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block;overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;width:100%
    }
    
    .katex .stretchy:after,.katex .stretchy:before{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    content:""
    }
    
    .katex .hide-tail{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;width:100%
    }
    
    .katex .halfarrow-left{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    left:0;overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;width:50.2%
    }
    
    .katex .halfarrow-right{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;right:0;width:50.2%
    }
    
    .katex .brace-left{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    left:0;overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;width:25.1%
    }
    
    .katex .brace-center{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    left:25%;overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;width:50%
    }
    
    .katex .brace-right{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;right:0;width:25.1%
    }
    
    .katex .x-arrow-pad{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    padding:0 .5em
    }
    
    .katex .mover,.katex .munder,.katex .x-arrow{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    text-align:center
    }
    
    .katex .boxpad{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    padding:0 .3em
    }
    
    .katex .fbox{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border:.04em solid #000;box-sizing:border-box
    }
    
    .katex .fcolorbox{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border:.04em solid;box-sizing:border-box
    }
    
    .katex .cancel-pad{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    padding:0 .2em
    }
    
    .katex .cancel-lap{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    margin-left:-.2em;margin-right:-.2em
    }
    
    .katex .sout{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    border-bottom-style:solid;border-bottom-width:.08em
    }
    
    .katex-display{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block;margin:1em 0;text-align:center;overflow-y:hidden
    }
    
    .katex-display>.katex{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block;text-align:center;white-space:nowrap
    }
    
    .katex-display>.katex>.katex-html{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    display:block
    }
    
    .katex-display>.katex>.katex-html>.tag{
    overflow:hidden;-webkit-overflow-scrolling:touch;
    position:relative;right:0
    }
    
    