{{ define "main" }}

<main class="h-screen overflow-y-auto">
  <div class="px-6 py-20 w-full lg:w-[580px] mx-auto prose dark:prose-invert h-fit prose-img:mx-auto">

    <h1>{{ .Title }}</h1>
    {{ if .Date }}
    <p class="text-sm text-slate-500 !mb-8">{{ .Date.Format "January 2, 2006" }}</p>
    {{ end }}

    {{ .Content }}
  </div>
</main>

<div id="snowflakes-container"></div>

<script>
  const snowContainer = document.querySelector('#snowflakes-container');

function createSnowflake() {
const snowflake = document.createElement('div');
snowflake.classList.add('snowflake');

const size = Math.random() * 10 + 5; // Random size between 5px and 15px
snowflake.style.width = `${size}px`;
snowflake.style.height = `${size}px`;

snowflake.style.left = `${Math.random() * 100}vw`; // Random horizontal position
snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`; // Random speed between 2s and 5s

snowContainer.appendChild(snowflake);

// Remove snowflake after it falls
setTimeout(() => snowflake.remove(), 5000);
}

setInterval(createSnowflake, 100); // Generate a snowflake every 100ms
</script>


{{ end }}