
@font-face {
    font-family: "icons-boxes";
    src: url("../fonts/icons-boxes.eot?bzmaom");
    src: url("../fonts/icons-boxes.eot?bzmaom#iefix") format("embedded-opentype"),
      url("../fonts/icons-boxes.ttf?bzmaom") format("truetype"),
      url("../fonts/icons-boxes.woff?bzmaom") format("woff"),
      url("../fonts/icons-boxes.svg?bzmaom#icomoon-notices") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  
  [class^="box"],
  [class*=" box"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons-boxes" !important;
    background-color: #ffffff00;
  
    padding: 0.5em;
    margin-top: 1em;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #b0b0b06b;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  [class^="box"]::before {
    padding-left: 0.4em;
    padding-right: 0.8em;
  }
  
  /* Add icons */
  
  .boxBell:before {
    content: "\f0f3";
    color: #9f6000;
  }
  .boxCheck:before {
    content: "\f058";
    color: #4f8a10;
  }
  .boxComment:before {
    content: "\f075";
    color: #024a59;
  }
  .boxHeart:before {
    content: "\f004";
  }
  .boxInfo:before {
    content: "\f05a";
    color: #00529b;
  }
  .boxInfo2:before {
    content: "\f05a";
    color: #005d14;
  }
  .boxInfo3:before {
    content: "\f05a";
    color: rgb(161, 1, 1);
  }
  .boxInfoGit:before {
    content: "\f05a";
    color: rgb(89, 85, 0);
  }
  .boxPlus:before {
    content: "\f067";
  }
  .boxStar:before {
    content: "\f005";
  }
  .boxWarning:before {
    content: "\f06a";
  }
  
  /* Set colors */
  
  .boxBell {
    background-color: #f1f500a4;
  }

  .boxComment {
    background-color: #007bef24;
  }
  
  .boxWarning {
    color: #fff;
    background-color: rgba(217, 83, 79, 0.9);
  }
  
  .boxCheck {
    background-color: #dff2bf;
  }
  
  .boxInfo {
    background-color: rgba(117, 211, 255, 0.135);
  }
  .boxInfo2 {
    background-color: rgba(12, 66, 0, 0.135)
  }
  .boxInfo3 {
    background-color: rgba(94, 0, 0, 0.135)
  }
  .boxInfoGit {
    background-color: rgba(156, 180, 3, 0.135);
    font-size: small;
  }
  