{{ define "main" }}

<main class="h-screen overflow-y-auto w-full">
  <div class="px-6 py-20 w-full lg:w-[580px] mx-auto prose dark:prose-invert h-fit prose-img:mx-auto">
    {{ .Content }}
  </div>
</main>


<style>
  #snowflakes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
</style>

<script>
const snowContainer = document.querySelector('#snowflakes-container');

function createSnowflake() {
const snowflake = document.createElement('div');
snowflake.classList.add('snowflake');

const size = Math.random() * 10 + 5; // Random size between 5px and 15px
snowflake.style.width = `${size}px`;
snowflake.style.height = `${size}px`;

snowflake.style.left = `${Math.random() * 100}vw`; // Random horizontal position
snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`; // Random speed between 2s and 5s

snowContainer.appendChild(snowflake);

// Remove snowflake after it falls
setTimeout(() => snowflake.remove(), 5000);
}

setInterval(createSnowflake, 100); // Generate a snowflake every 100ms
</script>

{{ end }}