<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="../../website_files/favicon.ico">

  <title>
     - Encyclopedia of Polarization
  </title>

  <meta name="description" content="Before you start

Turn off sync for the folder .obsidian in the Nextcloud settings
This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced

Plugins
Citations

Install and activate the plugin &ldquo;Citations&rdquo; by Jon Gauthier
Change database to BibLaTex and paste the filepath to your exported PolRef Zotero database
Set &ldquo;Literature note folder&rdquo; to usecases
The &ldquo;Literature note title template&rdquo; should be &ldquo;{{citekey}}&rdquo;

This will be the filename of the literature note, e.g., abou-chadi_causal_2018


&ldquo;Literature note content template&rdquo;: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format.

If you put something before &ldquo;::&rdquo;, the dataview plugin can access that information.
Insert the following code into the template box:



---
authors: {{authorString}}
date: {{year}}-01-01
title: {{title}}
subtitle: 
publication: {{containerTitle}}
doi: https://doi.org/{{DOI}}
polarisation:
 -
measures:
data:
aliases:
tags:
 - 
---

## Abstract
{{abstract}}

Press CTRL &#43; P to open up the command list, choose &ldquo;Citation: Insert literature note link&rdquo; to open up the list of Zotero entries, choose one to create a link and entry for a new literature note

Go to Settings/Hotkeys to set up a general shortcut to directy call the command



Dataview

Install and activate the plugin &ldquo;Dataview&rdquo;
The dataview plugin allows you to create tables by accessing information from papers
" /><meta name="generator" content="Hugo 0.139.2">

  <link rel="stylesheet" href="//localhost:1313/css/main.css" />

  
  <link href="//localhost:1313/css/boxes.css" rel="stylesheet">

  
  <style>
    .textbubbles {
     border-width:1px;
     border-style:solid;
     border-color:#5b7d9a;
     background: #bebebe77;
     padding-left: 2mm; padding-right: 2mm; padding-bottom: 1mm;
     border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    }
  </style>
  <style>
    .textbubbles:hover {
     border-width:1px;
     border-style:solid;
     border-color:#5b7d9a;
     background: #76767677;
     padding-left: 2mm; padding-right: 2mm; padding-bottom: 1mm; padding-top: 0mm;
     border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    }
  </style>


  <style>
    .capitalize{
      text-transform: capitalize;
    }
    .uppercase{
      text-transform: uppercase;
    }
  </style>


<style>
  .textbubblessec {
   border-width:1px;
   border-style:solid;
   border-color:#5b7d9a;
   background: #e5e5e577;
   color: #6c6c6c;
   text-transform: uppercase;
   text-decoration: none;
   font-size: small;
   padding-left: 2mm; padding-right: 2mm; padding-bottom: 0.5mm;
   border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  }
</style>
<style>
  .textbubblessec:hover {
   border-width:1px;
   border-style:solid;
   border-color:#5b7d9a;
   background: #98989877;
   color: #6c6c6c;
   text-transform: uppercase;
   text-decoration: none;
   font-size: small;
   padding-left: 2mm; padding-right: 2mm; padding-bottom: 0.5mm; padding-top: 0mm;
   border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  }
</style>

  
  

  <meta property="og:url" content="//localhost:1313/setup/setup/">
  <meta property="og:site_name" content="Encyclopedia of Polarization">
  <meta property="og:title" content="Encyclopedia of Polarization">
  <meta property="og:description" content="Before you start Turn off sync for the folder .obsidian in the Nextcloud settings This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced Plugins Citations Install and activate the plugin “Citations” by Jon Gauthier Change database to BibLaTex and paste the filepath to your exported PolRef Zotero database Set “Literature note folder” to usecases The “Literature note title template” should be “{{citekey}}” This will be the filename of the literature note, e.g., abou-chadi_causal_2018 “Literature note content template”: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format. If you put something before “::”, the dataview plugin can access that information. Insert the following code into the template box: --- authors: {{authorString}} date: {{year}}-01-01 title: {{title}} subtitle: publication: {{containerTitle}} doi: https://doi.org/{{DOI}} polarisation: - measures: data: aliases: tags: - --- ## Abstract {{abstract}} Press CTRL &#43; P to open up the command list, choose “Citation: Insert literature note link” to open up the list of Zotero entries, choose one to create a link and entry for a new literature note Go to Settings/Hotkeys to set up a general shortcut to directy call the command Dataview Install and activate the plugin “Dataview” The dataview plugin allows you to create tables by accessing information from papers">
  <meta property="og:locale" content="en_us">
  <meta property="og:type" content="article">
    <meta property="article:section" content="!setup">
    <meta property="og:image" content="//localhost:1313/polarlogo.png">


  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="//localhost:1313/polarlogo.png">
  <meta name="twitter:title" content="Encyclopedia of Polarization">
  <meta name="twitter:description" content="Before you start Turn off sync for the folder .obsidian in the Nextcloud settings This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced Plugins Citations Install and activate the plugin “Citations” by Jon Gauthier Change database to BibLaTex and paste the filepath to your exported PolRef Zotero database Set “Literature note folder” to usecases The “Literature note title template” should be “{{citekey}}” This will be the filename of the literature note, e.g., abou-chadi_causal_2018 “Literature note content template”: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format. If you put something before “::”, the dataview plugin can access that information. Insert the following code into the template box: --- authors: {{authorString}} date: {{year}}-01-01 title: {{title}} subtitle: publication: {{containerTitle}} doi: https://doi.org/{{DOI}} polarisation: - measures: data: aliases: tags: - --- ## Abstract {{abstract}} Press CTRL &#43; P to open up the command list, choose “Citation: Insert literature note link” to open up the list of Zotero entries, choose one to create a link and entry for a new literature note Go to Settings/Hotkeys to set up a general shortcut to directy call the command Dataview Install and activate the plugin “Dataview” The dataview plugin allows you to create tables by accessing information from papers">


  
  <meta itemprop="name" content="Encyclopedia of Polarization">
  <meta itemprop="description" content="Before you start Turn off sync for the folder .obsidian in the Nextcloud settings This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced Plugins Citations Install and activate the plugin “Citations” by Jon Gauthier Change database to BibLaTex and paste the filepath to your exported PolRef Zotero database Set “Literature note folder” to usecases The “Literature note title template” should be “{{citekey}}” This will be the filename of the literature note, e.g., abou-chadi_causal_2018 “Literature note content template”: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format. If you put something before “::”, the dataview plugin can access that information. Insert the following code into the template box: --- authors: {{authorString}} date: {{year}}-01-01 title: {{title}} subtitle: publication: {{containerTitle}} doi: https://doi.org/{{DOI}} polarisation: - measures: data: aliases: tags: - --- ## Abstract {{abstract}} Press CTRL &#43; P to open up the command list, choose “Citation: Insert literature note link” to open up the list of Zotero entries, choose one to create a link and entry for a new literature note Go to Settings/Hotkeys to set up a general shortcut to directy call the command Dataview Install and activate the plugin “Dataview” The dataview plugin allows you to create tables by accessing information from papers">
  <meta itemprop="wordCount" content="233">
  <meta itemprop="image" content="//localhost:1313/polarlogo.png">

  
  <meta itemprop="name" content="Encyclopedia of Polarization">
  <meta itemprop="description" content="Before you start Turn off sync for the folder .obsidian in the Nextcloud settings This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced Plugins Citations Install and activate the plugin “Citations” by Jon Gauthier Change database to BibLaTex and paste the filepath to your exported PolRef Zotero database Set “Literature note folder” to usecases The “Literature note title template” should be “{{citekey}}” This will be the filename of the literature note, e.g., abou-chadi_causal_2018 “Literature note content template”: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format. If you put something before “::”, the dataview plugin can access that information. Insert the following code into the template box: --- authors: {{authorString}} date: {{year}}-01-01 title: {{title}} subtitle: publication: {{containerTitle}} doi: https://doi.org/{{DOI}} polarisation: - measures: data: aliases: tags: - --- ## Abstract {{abstract}} Press CTRL &#43; P to open up the command list, choose “Citation: Insert literature note link” to open up the list of Zotero entries, choose one to create a link and entry for a new literature note Go to Settings/Hotkeys to set up a general shortcut to directy call the command Dataview Install and activate the plugin “Dataview” The dataview plugin allows you to create tables by accessing information from papers">
  <meta itemprop="wordCount" content="233">
  <meta itemprop="image" content="//localhost:1313/polarlogo.png">
</head><body class="flex relative h-full min-h-screen"><aside
  class="will-change-transform transform transition-transform -translate-x-full absolute top-0 left-0 md:relative md:translate-x-0 w-3/4 md:basis-60 h-full min-h-screen p-3 bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 flex flex-col gap-2.5 z-20 sidebar flex-shrink-0">
  <p class="font-bold mb-5 flex items-center gap-2">
    <button aria-label="Close sidebar"
      class="md:hidden menu-trigger-close p-1 rounded text-slate-800 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-700"><svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
  fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" />
  <line x1="18" y1="6" x2="6" y2="18" />
  <line x1="6" y1="6" x2="18" y2="18" />
</svg></button>
    <a href="//localhost:1313/" class="px-2">
      <span>Encyclopedia of Polarization</span>
    </a>
    <button aria-label="Toggle dark mode"
      class="dark-mode-toggle p-2 rounded border dark:border-slate-700 hover:bg-slate-200 dark:hover:bg-slate-700"><svg class="h-4 w-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
  fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" />
  <circle cx="12" cy="12" r="4" />
  <path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7" />
</svg></button>
  </p>

  
  <ul class="list-none flex flex-col gap-1">
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../" >
        <span>🏠 Home</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  text-slate-400 font-semibold pb-0 pl-1 border-b cursor-default pointer-events-none "
        href="#" >
        <span>Encyclopedia</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../polarization" >
        <span>Polarization</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../measures" >
        <span>Measures</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../variables" >
        <span>Variables</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../data" >
        <span>Data</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../usecases" >
        <span>Use Cases</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  text-slate-400 font-semibold pb-0 pl-1 border-b cursor-default pointer-events-none "
        href="#" >
        <span>polaR</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../projects/polarpackage/" >
        <span>Package</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../projects/polarapp/" >
        <span>Data Visualization</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  text-slate-400 font-semibold pb-0 pl-1 border-b cursor-default pointer-events-none "
        href="#" >
        <span>Information</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="../../stack" >
        <span>See more</span>
        
      </a>
    </li>
    
  </ul>

  <div class="flex-1"></div>

  

  <ul class="list-none flex flex-wrap justify-center gap-1 pt-2 border-t border-slate-200 dark:border-slate-600">
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="https://gitlab.com/felixgruenewald/polaR" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">GitLab</span>
        
        <span><svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor">
  <path
    d="M4.845.904c-.435 0-.82.28-.955.692C2.639 5.449 1.246 9.728.07 13.335a1.437 1.437 0 00.522 1.607l11.071 8.045c.2.145.472.144.67-.004l11.073-8.04a1.436 1.436 0 00.522-1.61c-1.285-3.942-2.683-8.256-3.817-11.746a1.004 1.004 0 00-.957-.684.987.987 0 00-.949.69l-2.405 7.408H8.203l-2.41-7.408a.987.987 0 00-.942-.69h-.006zm-.006 1.42l2.173 6.678H2.675zm14.326 0l2.168 6.678h-4.341zm-10.593 7.81h6.862c-1.142 3.52-2.288 7.04-3.434 10.559L8.572 10.135zm-5.514.005h4.321l3.086 9.5zm13.567 0h4.325c-2.467 3.17-4.95 6.328-7.411 9.502 1.028-3.167 2.059-6.334 3.086-9.502zM2.1 10.762l6.977 8.947-7.817-5.682a.305.305 0 01-.112-.341zm19.798 0l.952 2.922a.305.305 0 01-.11.341v.002l-7.82 5.68.026-.035z"
  />
</svg>
</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="https://osf.io/preprints/socarxiv/mz6rs" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">OSF</span>
        
        <span><svg class="h-4 w-4" viewBox="0 0 256 256" 
  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  style="enable-background:new 0 0 256 256;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{fill:#323233;}
	.st2{fill:#4CA3E5;}
</style>
<g id="Layer_3">
</g>
<g id="Layer_2_00000036963442548161772480000005762894416277255553_" class="st0">
	
		<image style="display:inline;overflow:visible;enable-background:new    ;" width="354" height="354" xlink:href="93280510B30B239C.png"  transform="matrix(1 0 0 1 -38.5039 -38.4515)">
	</image>
</g>
<circle class="st1" cx="200.6" cy="74.7" r="28.5"/>
<circle class="st1" cx="52.3" cy="135.4" r="28.5"/>
<circle class="st1" cx="77.7" cy="197" r="28.5"/>
<circle class="st1" cx="78" cy="74.4" r="28.5"/>
<circle class="st1" cx="138.4" cy="222.7" r="28.5"/>
<circle class="st1" cx="139.6" cy="49" r="28.5"/>
<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -80.9235 199.2133)" class="st1" cx="200" cy="197.3" rx="28.5" ry="28.5"/>
<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -30.2177 199.708)" class="st1" cx="226" cy="136.3" rx="28.5" ry="28.5"/>
<g>
	<path class="st2" d="M106.6,74.4c-0.1,15.5-12.5,28-27.9,28.3c3.6,5.8,10.1,9.8,17.4,9.8c11.3,0,20.5-9.2,20.5-20.5
		C116.7,84.5,112.6,78,106.6,74.4z"/>
	<circle class="st2" cx="139.6" cy="74.1" r="20.5"/>
	<circle class="st2" cx="77.2" cy="135.4" r="20.5"/>
	<path class="st2" d="M200.6,103.3c-15.5-0.1-28-12.5-28.3-27.9c-5.9,3.6-9.8,10.1-9.8,17.4c0,11.3,9.2,20.5,20.5,20.5
		C190.4,113.4,197,109.3,200.6,103.3z"/>
	<circle class="st2" cx="200.9" cy="136.3" r="20.5"/>
	<path class="st2" d="M171.4,197.3c0.1-15.5,12.5-28,27.9-28.3c-3.6-5.9-10.1-9.8-17.4-9.8c-11.3,0-20.5,9.2-20.5,20.5
		C161.4,187.2,165.4,193.7,171.4,197.3z"/>
	<circle class="st2" cx="138.4" cy="197.6" r="20.5"/>
	<path class="st2" d="M77.7,168.4c15.5,0.1,28,12.5,28.3,27.9c5.8-3.6,9.8-10.1,9.8-17.4c0-11.3-9.2-20.5-20.5-20.5
		C87.8,158.3,81.3,162.4,77.7,168.4z"/>
</g>
</svg>
</span>
        
      </a>
    </li>
    
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm block text-slate-800 dark:text-slate-50  hover:bg-slate-200 dark:hover:bg-slate-700 "
        href="mailto:felix.gruenewald@phil.tu-chemnitz.de" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">Email</span>
        
        <span><svg class="h-4 w-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
  fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" />
  <rect x="3" y="5" width="18" height="14" rx="2" />
  <polyline points="3 7 12 13 21 7" />
</svg></span>
        
      </a>
    </li>
    
  </ul>
</aside>

<div
  class="fixed bg-slate-700 bg-opacity-5 transition duration-200 ease-in-out inset-0 z-10 pointer-events-auto md:hidden left-0 top-0 w-full h-full hidden menu-overlay">
</div>

<button aria-label="Toggle Sidebar"
  class="md:hidden absolute top-3 left-3 z-10 menu-trigger p-1 rounded text-slate-800 dark:text-slate-50 hover:bg-slate-100"><svg class="h-6 w-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
  fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" />
  <line x1="4" y1="6" x2="20" y2="6" />
  <line x1="4" y1="12" x2="20" y2="12" />
  <line x1="4" y1="18" x2="16" y2="18" />
</svg></button>


<main class="h-screen overflow-y-auto">
  <div class="px-6 py-20 w-full lg:w-[580px] mx-auto prose dark:prose-invert h-fit prose-img:mx-auto">

    <h1></h1>
    

    <h1 id="before-you-start">Before you start</h1>
<ul>
<li>Turn off sync for the folder <code>.obsidian</code> in the Nextcloud settings</li>
<li>This creates an individual setting (incl. plugins) file for you, while keeping contents of the vault synced</li>
</ul>
<h1 id="plugins">Plugins</h1>
<h2 id="citations">Citations</h2>
<ul>
<li>Install and activate the plugin &ldquo;Citations&rdquo; by Jon Gauthier</li>
<li>Change database to <em>BibLaTex</em> and paste the filepath to your exported PolRef Zotero database</li>
<li>Set &ldquo;Literature note folder&rdquo; to <code>usecases</code></li>
<li>The &ldquo;Literature note title template&rdquo; should be &ldquo;{{citekey}}&rdquo;
<ul>
<li>This will be the filename of the literature note, e.g., abou-chadi_causal_2018</li>
</ul>
</li>
<li>&ldquo;Literature note content template&rdquo;: this is the structure of the information that the plugin imports from Zotero. There is a wide range of information that can be imported but we should have it in the same format.
<ul>
<li>If you put something before &ldquo;::&rdquo;, the dataview plugin can access that information.</li>
<li>Insert the following code into the template box:</li>
</ul>
</li>
</ul>
<pre tabindex="0"><code>---
authors: {{authorString}}
date: {{year}}-01-01
title: {{title}}
subtitle: 
publication: {{containerTitle}}
doi: https://doi.org/{{DOI}}
polarisation:
 -
measures:
data:
aliases:
tags:
 - 
---

## Abstract
{{abstract}}
</code></pre><ul>
<li>Press CTRL + P to open up the command list, choose &ldquo;Citation: Insert literature note link&rdquo; to open up the list of Zotero entries, choose one to create a link and entry for a new literature note
<ul>
<li>Go to Settings/Hotkeys to set up a general shortcut to directy call the command</li>
</ul>
</li>
</ul>
<h2 id="dataview">Dataview</h2>
<ul>
<li>Install and activate the plugin &ldquo;Dataview&rdquo;</li>
<li>The dataview plugin allows you to create tables by accessing information from papers</li>
</ul>

  </div>
</main>

<div id="snowflakes-container"></div>

<script>
  const snowContainer = document.querySelector('#snowflakes-container');

function createSnowflake() {
const snowflake = document.createElement('div');
snowflake.classList.add('snowflake');

const size = Math.random() * 10 + 5; 
snowflake.style.width = `${size}px`;
snowflake.style.height = `${size}px`;

snowflake.style.left = `${Math.random() * 100}vw`; 
snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`; 

snowContainer.appendChild(snowflake);


setTimeout(() => snowflake.remove(), 5000);
}

setInterval(createSnowflake, 100); 
</script>



  
<script type="text/javascript" src="../../main.js" defer></script>


</body>

</html>