{{ define "main" }}

{{ $permalink := .RelPermalink }}

<div class="flex flex-1 h-screen relative w-full min-w-0">

  <section
    class="will-change-transform transform transition-transform -translate-x-[200%] absolute top-0 left-0 lg:relative
  lg:translate-x-0 lg:basis-[400px] h-full bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 lg:flex flex-col py-3 overflow-y-auto scroll-area flex-shrink-0">
    {{$Section := .Site.GetPage "section" .Section }}
    {{ with $Section }}
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range sort .Data.Pages "Title" "asc" -}}
      {{ $isCurrentPage := eq .RelPermalink $permalink }}
      <a class="article block px-3 py-4 {{ if $isCurrentPage }} bg-slate-900 dark:bg-slate-700 text-slate-50 {{ else }} hover:bg-slate-200 dark:hover:bg-slate-700 {{ end }}"
        href="{{ .RelPermalink }}">
        {{ $title := .Params.title }}
        {{ $name := .Params.name }}
        {{ $polarisation := .Params.polarisation }}
        {{ $level := .Params.level }}
        {{ $data := .Params.data }}
        {{ $usecases := .Params.usecases }}

        <myclass>
        <h3 class="text-lg font-semibold mb-0.5">{{ $title }}</h3>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          <i>{{ $name }}</i>
        </div>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          <b>Polarization:</b>{{ range .Params.polarisation }}<span style="text-transform: capitalize;"> {{ . }} </span>{{end}}</b>
        </div>
        </myclass>
      </a>
      {{ end -}}
    </div>
    {{ end -}}
  </section>

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto dark:prose-invert prose lg:prose-lg h-fit prose-img:mx-auto">

      {{ $name := .Params.name }}
      {{ $polarisation := .Params.polarisation }}
      {{ $level := .Params.level }}
      {{ $data := .Params.data }}
      {{ $usecases := .Params.usecases }}

      <h1 class="!mb-2">{{ $name }}</h1>
      
      <!-- Draw a box around the properties -->
      <div class="not-prose"> 
      <div class="boxInfo"><b>Quick Info</b><br>
        <b>Polarization:</b>{{ range .Params.polarisation }}
          <a href="/polarization/{{ . }}"><span class="textbubbles capitalize">{{ . }}</span></a>
          {{ end }}<br>
        <b>Data:</b>{{ range .Params.data }}
          <a href="/data/{{ . }}"><span class="textbubbles uppercase">{{ . }}</span></a>
          {{ end }}
          {{ range .Params.data_sec }}
          <a href="/data/{{ . }}"><span class="textbubblessec">{{ . }}</span></a>
          {{ end }}<br>
        <b>Use Cases:</b>{{ range .Params.usecases }}
          <a href="/usecases/{{ . }}"><span class="textbubbles">@{{ . }}</span></a>
          {{ end }}
      </div></div>
      
      {{ .Content }}
      
    </article>
  </div>

</div>

{{ end }}