{{ define "main" }}

{{ $permalink := .RelPermalink }}

<div class="flex flex-1 h-screen relative w-full min-w-0">

  <section
    class="will-change-transform transform transition-transform -translate-x-[200%] absolute top-0 left-0 lg:relative
  lg:translate-x-0 lg:basis-[400px] h-full bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 lg:flex flex-col py-3 overflow-y-auto scroll-area flex-shrink-0">
    {{$Section := .Site.GetPage "section" .Section }}
    {{ with $Section }}
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range sort .Data.Pages "Title" "asc" -}}
      {{ $isCurrentPage := eq .RelPermalink $permalink }}
      <a class="article block px-3 py-4 {{ if $isCurrentPage }} bg-slate-900 dark:bg-slate-700 text-slate-50 {{ else }} hover:bg-slate-200 dark:hover:bg-slate-700 {{ end }}"
        href="{{ .RelPermalink }}">

        {{ $title := .Params.title }}
        {{ $subtitle := .Params.subtitle }}
        {{ $authors := .Params.authors }}
        {{ $publication := .Params.publication }}
        {{ $date := .Params.date.Format "2006" }}
        <h3 class="text-lg font-semibold mb-0.5">{{ $title }}</h3>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          {{ $subtitle}}
        </div>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          <b>{{ $authors}}</b>
        </div>
        <div class="text-sm text-slate-500 dark:text-slate-400 line-clamp-2">
          <i>{{ $publication }}</i>. {{ $date}}
        </div>

      </a>
      {{ end -}}
    </div>
    {{ end -}}
  </section>

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg h-fit dark:prose-invert prose-img:mx-auto">

      {{ $title := .Params.title }}
      {{ $subtitle := .Params.subtitle }}
      {{ $authors := .Params.authors }}
      {{ $publication := .Params.publication }}
      {{ $date := .Params.date.Format "2006" }}
      {{ $doi := .Params.doi }}
      <h1 class="!mb-2">{{ $title }}</h1>
      <h5 class="!mb-2">{{ $subtitle }}</h5>
      <h4 class="!mb-2">{{ $authors }}</h4>
      <h6 class="!mb-2"><i>{{ $publication }}</i>. {{ $date}}</h6>

      

      <!-- Draw a box around the properties -->
      <div class="not-prose"> 
        <a href="{{ $doi }}"><span class="textbubbles text-decoration:none"><small>📕</small> Publication</span></a>
      <br>
        <div class="boxInfo2"><b>Quick Info</b><br>
          <b>Polarization:</b>{{ range .Params.polarisation }}
            <a href="/polarisation/{{ . }}"><span class="textbubbles capitalize">{{ . }}</span></a>
            {{ end }}<br>
          <b>Data:</b>{{ range .Params.data }}
            <a href="/data/{{ . }}"><span class="textbubbles uppercase">{{ . }}</span></a>
            {{ end }}<br>
          <b>Measures:</b>{{ range .Params.measures }}
            <a href="/measures/{{ . }}"><span class="textbubbles capitalize">{{ . }}</span></a>
            {{ end }}<br>
        </div></div>
        

      {{ .Content }}
    </article>
  </div>

</div>

{{ end }}