<!--citation.html-->
<div class="boxComment">
    <b>Leininger, A., Grünewald, F. & Buntfuß, N.</b> (2023, August 11). <br>
    Ideological and affective polarization in multiparty systems. 
    <a href="https://doi.org/10.31235/osf.io/mz6rs">doi.org/10.31235/osf.io/mz6rs</a>
    </div>
<br>