<!--polarref.html-->
<div class="boxInfoGit">
We have written custom R functions for coding this measure and assembled it, along with other functions, into an R package that is currently under development.
    
The package can be installed from <a href="https://gitlab.com/felixgruenewald/polaR">GitLab</a>.

Comments, suggestions, and feature requests are welcome.
</div>