
<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="/website_files/favicon.ico">

  <title>
    {{ block "title" . }} {{- .Title }} - {{ .Site.Title -}} {{ end }}
  </title>

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
  
  {{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
  {{ end -}}
  
  {{- if .Params.Author }}
  <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}
  
  {{ hugo.Generator }}

  <link rel="stylesheet" href="{{ "/css/main.css" | absURL}}" />

  <!-- Custom css insertion -->
  <link href="{{ "/css/boxes.css" | absURL}}" rel="stylesheet">

  <!-- textbubbles in Info Box -->
  <style>
    .textbubbles {
     border-width:1px;
     border-style:solid;
     border-color:#5b7d9a;
     background: #bebebe77;
     padding-left: 2mm; padding-right: 2mm; padding-bottom: 1mm;
     border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    }
  </style>
  <style>
    .textbubbles:hover {
     border-width:1px;
     border-style:solid;
     border-color:#5b7d9a;
     background: #76767677;
     padding-left: 2mm; padding-right: 2mm; padding-bottom: 1mm; padding-top: 0mm;
     border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    }
  </style>

<!-- Capitalize/Uppercase -->
  <style>
    .capitalize{
      text-transform: capitalize;
    }
    .uppercase{
      text-transform: uppercase;
    }
  </style>

<!-- Greyed Out, Secondary Tags -->
<style>
  .textbubblessec {
   border-width:1px;
   border-style:solid;
   border-color:#5b7d9a;
   background: #e5e5e577;
   color: #6c6c6c;
   text-transform: uppercase;
   text-decoration: none;
   font-size: small;
   padding-left: 2mm; padding-right: 2mm; padding-bottom: 0.5mm;
   border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  }
</style>
<style>
  .textbubblessec:hover {
   border-width:1px;
   border-style:solid;
   border-color:#5b7d9a;
   background: #98989877;
   color: #6c6c6c;
   text-transform: uppercase;
   text-decoration: none;
   font-size: small;
   padding-left: 2mm; padding-right: 2mm; padding-bottom: 0.5mm; padding-top: 0mm;
   border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  }
</style>

  <!-- Katex support -->
  {{ if .Params.math }}
    <link
      rel="stylesheet"
      href="{{ "/css/katex.css" | absURL}}"
      crossorigin="anonymous"
    >

<!--    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
    integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv"
    crossorigin="anonymous"
  >-->

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
      integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
      crossorigin="anonymous"
    ></script>

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
      integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "$", right: "$", display: false}
              ]
          });
      });
    </script>
  {{ end }}

  {{ template "_internal/opengraph.html" . }}

  {{ template "_internal/twitter_cards.html" . }}

  {{ template "_internal/schema.html" . }}

  {{ template "_internal/schema.html" . }}
</head>